.App {
  text-align: center;
}

body{
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes rainbowSlide {
  0% {background-position: 0% 50%;}
  100% {background-position: -300% 50%;}
}

#titleHeader{
  background: linear-gradient(270deg, 
  red, orange, yellow, green, blue, indigo, violet,
  red, orange, yellow, green, blue, indigo, violet,
  red, orange, yellow, green, blue, indigo, violet,
  red, orange, yellow, green, blue, indigo, violet,
                              red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 100%;
  animation: rainbowSlide 10s linear infinite alternate;
  filter: drop-shadow(0px -2px 0 white) 
   drop-shadow(0px 2px 0 white)
   drop-shadow(2px 0px 0 white) 
  drop-shadow(-2px 0px 0 white); 
   background-clip: text;
-webkit-background-clip: text;
color: transparent;
}

#buttonWrapper{
  display: flex;
  justify-content: space-evenly;
}

#buttonWrapper button{
  background-color: #949494;
}

#buttonWrapper button:first-child{
background-color: #61dafb;
}

.wrapperImg{
position: relative;
}

.outerImg{
max-width: 100%;
}

.innerImg{
position: absolute;
top: 10.6%;
left: 12.8%;
width: 63.99%;
height: 62.75%;
}